<!doctype html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Edit PRODUCT</h1>
    <p>
        <a th:href="@{/product}">Back to Product list</a>
    </p>
    <form th:action="@{/updateProduct}" th:object="${po}" method="post">
        <div class="form-group">
            <label >Product Id</label>
            <input type="text" th:field="*{proId}" class="form-control" readonly/>
        </div>
        <div class="form-group">
            <label >Expire Date</label>
            <input type="date" th:field="*{expireDate}" class="form-control"/>
        </div>
        <div class="form-group">
            <label >Price</label>
            <input type="text" th:field="*{price}" class="form-control"/>
        </div>
        <div class="form-group">
            <label >Product Name</label>
            <input type="text" th:field="*{proName}" class="form-control"/>
        </div>
        <div class="form-group">
            <label >Producer</label>
            <input type="text" th:field="*{producer}" class="form-control"/>
        </div>
        <div class="form-group">
            <label >Year_Marking</label>
            <input type="text" th:field="*{yearMaking}" class="form-control"/>
        </div>
        <div class="form-group">
            <label>CATEGORY ID</label>
            <select th:field="*{cate.cateId}" class="form-control">
                <option th:each="ca : ${categories}" th:value="${ca.cateId}" th:text="${ca.catenName}"></option>
            </select>
        </div>
        <input type="submit" value="Edit">
    </form>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>